<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <title>Food input app</title>

  </head>
  <body>
    <div class="container">
        <div class="navbar-header">
            {% if user.is_authenticated %}
            {{ user.get_username }}
            <a href="/admin/">Admin</a>
            <a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
            <a href="{% url 'login'%}?next={{request.path}}">Login</a>
            {% endif %}
        </div>
        <div class="py-5 text-center">
    <h2>Food input tool</h2>
    <p class="lead">Tool om gemakkelijk voedingsdagboeken te verwerken</p>
</div>
        {% block content %}
        {% endblock %}
    </div>
    <br><br><br> <br><br><br> <br><br><br>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script type="text/javascript" src='{% static "js/jquery.js" %}' %></script>

</body>
</html>