{% extends 'base.html'%}

{% block content %}
{{ form.media }}

  {% load widget_tweaks %}
<div class="row">


     <table class="table">
         <thead class="thead-light">
             <tr>
                 <th scope="col">Product</th>
                 <th scope="col">Occurrence</th>
             </tr>
         </thead>
         <tbody>
        {% for product, occurrence in occurrence_list %}
            <tr>
                 <td>{{ product }}</td>
                 <td>{{ occurrence }}</td>
            </tr>
         {% endfor %}
         </tbody>
         </table>
</div>
{% endblock %}