{% extends 'base.html'%}

{% block content %}
{{ form.media }}

  {% load widget_tweaks %}
<div class="container">
    <div class="row">
     <form method="post">
        {% csrf_token %}
         {% for field in form.visible_fields %}
        <div class="form-group">
            <label for='{{ field.id_for_label }}'>{{ field.label }}</label>
            {{ field|attr:'onchange:this.form.submit()'|add_class:'form-control' }}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
         {% endfor %}
     </form>


        <label for="display_names">Display Names</label>
        {% for display_name in display_names %}
            <form method="post">
                {% csrf_token %}

                    <div class="input-group">
                        <input name="display_name_id" type="hidden" value="{{ display_name.id }}">
                        <input name="display_name_update" class="form-control" type="text" value="{{ display_name.name }}" onchange="this.form.submit()">
                        <span class="input-group-addon">-</span>
                        <input name="display_name_en_update" class="form-control" type="text" value="{{ display_name.name_en }}" onchange="this.form.submit()">
                        <a href="/display_names/?display_name={{ display_name.id }}" class="input-group-addon">
                                <span style="color:red" class="glyphicon glyphicon-remove"></span>

                        </a>
                    </div>

            </form>
        {% endfor %}
        {% if display_names %}
        <form method="post" name="new_display_name">

            {% csrf_token %}
            <div class="input-group">
                <input name="add_display_name_id" type="hidden" value="{{ selected_product }}">
                <input name="add_display_name" class="form-control" type="text">
                <span class="input-group-addon">-</span>
                <input name="add_display_name_en" class="form-control" type="text">
                <span onclick="document.forms['new_display_name'].submit();" class="input-group-addon">
                    <span style="color:green" class="glyphicon glyphicon-plus"></span>
                </span>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}