{% extends 'base.html'%}

{% block content %}
{{ form.media }}

  {% load widget_tweaks %}
<div class="row">

  <form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="mb-3">
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
      </div>
    {% endfor %}

    <div class="form-group">
      <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span> Save
      </button>
    </div>
    </form>
     <table class="table">
         <thead class="thead-light">
             <tr>
                 <th scope="col">Patient ID</th>
                 <th scope="col">Datetime</th>
                 <th scope="col">product</th>
                 <th scope="col">hoeveelheid (gram)</th>
                 <th scope="col">delete</th>
             </tr>
         </thead>
         <tbody>
             {% for food_record in food_records %}
                 <tr>
                     <td>{{food_record.patient_id}}</td>
                     <td>{{food_record.datetime}}</td>
                     <td>{{food_record.product}}</td>
                     <td>{{food_record.amount}}</td>
                     <td><a href="/{{food_record.id}}"><span class="glyphicon glyphicon-remove"></span></a></td></tr>
             {% endfor %}
         </tbody>
         </table>
</div>
{% endblock %}