{% extends 'base.html'%}

{% block content %}
{{ form.media }}
{% load widget_tweaks %}
{% load i18n %}
<div class="container" style="max-width: 95%">

        <br>{% trans '<b>Please note:</b> calculated meal scores are only accurate if there is atleast 3 hours inbetween meals. Also, when the initial glucose is above 7 the rating cannot be calculated accurately.' %}<br><br>

        <div class="table-responsive">
            <table class="table">

                <tr>
                    <th>{% trans 'Date & time' %}</th>
                    <th>{% trans 'Meal' %}</th>
                    <th>{% trans 'Amount<br>(gram)' %}</th>
                    <th>Kcal</th>
                    <th>{% trans 'Initial Glucose' %}</th>
                    <th>{% trans 'Max Glucose' %}</th>
                    <th><a href="http://care.diabetesjournals.org/content/32/suppl_2/S322.short"  data-toggle="tooltip" title="" data-original-title="Postprandial (post-meal) Glycemic Response <a style='color: #42f45c' href='http://care.diabetesjournals.org/content/32/suppl_2/S322.short'>(Gallwitz, 2009)</a>.">PPGR</a><br>(mg / dl * h)</th>
                    <th><a href="" data-toggle="tooltip" data-original-title="{% trans 'Calculated using:<br>10 * (1 - (PPGR / 50))' %}">Rating</a></th>
                </tr>
                {% get_current_language as LANGUAGE_CODE %}
                {%  for meal, amount, kcal in meals %}
                    {% if meal.0.PPGR %}
                    <tr>
                        <td>
                            {{ meal.0.datetime|date:'Y-m-d H:i' }}
                        </td>
                        <td>
                            {%  for food_record in meal %}
                                {% if LANGUAGE_CODE == "en-us" %}{{ food_record.display_name.name_en }}{% else %}{{ food_record.display_name.name }}{% endif %}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{ amount|floatformat }}
                        </td>
                        <td>
                            {{ kcal|floatformat }}
                        </td>
                        <td>
                            {{ meal.0.initial_glucose|floatformat }}
                        </td>
                        <td>
                            {{ meal.0.max_glucose|floatformat }}
                        </td>
                        <td>
                            {{ meal.0.PPGR|floatformat }}
                        </td>
                        <td>
                            {% if meal.0.rating == 0 %}
                                {% trans "Unknown" %}
                            {% else %}
                                {{ meal.0.rating }} / 10
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% empty %}
                    <tr><td colspan="6">{% trans 'Sorry, no ratings available. Record your meals <a href="/foodlog/">here</a> and than upload your blood glucose data <a href="/upload_glucose/">here</a> to find out which meals are healthy for you.' %}</td></tr>
                {%  endfor  %}
            </table>
        </div>
</div>
{% endblock %}