{% extends 'base.html'%}

{% block content %}
{{ form.media }}

  {% load widget_tweaks %}
<div class="container" style="max-width: 95%">

        <br><b>Please note:</b> calculated meal scores are only accurate if there is atleast 3 hours inbetween meals.<br><br>

        <div class="table-responsive">
            <table class="table">

                <tr>
                    <th>Date & time</th>
                    <th>Meal</th>
                    <th>Amount<br>(gram)</th>
                    <th>Kcal</th>
                    <th>Initial Glucose</th>
                    <th>Max Glucose</th>
                    <th><a href="http://care.diabetesjournals.org/content/32/suppl_2/S322.short"  data-toggle="tooltip" title="" data-original-title="Postprandial (post-meal) Glycemic Response <a style='color: #42f45c' href='http://care.diabetesjournals.org/content/32/suppl_2/S322.short'>(Gallwitz, 2009)</a>.">PPGR</a><br>(mg / dl * h)</th>
                    <th><a href="" data-toggle="tooltip" data-original-title="Calculated using:<br>10 * (1 - (PPGR / 50))">Rating</a></th>
                </tr>
                {%  for meal, amount, kcal in meals %}
                    <tr>
                        <td>
                            {{ meal.0.datetime|date:'Y-m-d H:i' }}
                        </td>
                        <td>
                            {%  for food_record in meal %}
                                {% if forloop.last %}
                                    {{ food_record.display_name.name }}
                                {% else %}
                                    {{ food_record.display_name.name }},
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{ amount|floatformat }}
                        </td>
                        <td>
                            {{ kcal|floatformat }}
                        </td>
                        <td>
                            {{ meal.0.initial_glucose|floatformat }}
                        </td>
                        <td>
                            {{ meal.0.max_glucose|floatformat }}
                        </td>
                        <td>
                            {{ meal.0.PPGR|floatformat }}
                        </td>
                        <td>
                            {{ meal.0.rating }} / 10
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="6">Sorry, no ratings available. Record your meals <a href="/foodlog/">here</a> and than
                        upload your blood glucose data <a href="/upload_glucose/">here</a> to find out which meals are healthy for you.</td></tr>
                {%  endfor  %}
            </table>
        </div>
</div>
{% endblock %}