{% extends 'base.html'%}

{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="mb3">
        <div class="form-group">
            {% if user.is_staff %}
                <label for="patient_id">Patient ID</label>
                <input type="number" name="patient_id" step="1" class="form-control" required id="id_patient_id">
            {% else %}
                <input type="hidden" name="patient_id" required_id="id_patient_id" value="{{ user.id }}">
            {% endif %}
        </div>
        <div class="form-group">
            <label for="glucose_file">Glucose File</label>
            <input class="form-control" type="file" name="csv_file" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span> Upload
            </button>
        </div>
    </div>
</form>
</div>
{% endblock %}