{% extends 'base.html'%}

{% block content %}
{% load widget_tweaks %}
{% load i18n %}
{{ form.media }}

<div class="container" style="max-width: 95%">
    <div class="row">
        <h2>{% trans 'Upload Glucose File' %}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="glucose_file">{% trans 'Glucose Export file' %}</label>
                <input class="form-control" type="file" name="csv_file" />
                <span class="help-block">{% blocktrans %}Currently we only support the glucose files exported from the
                    Freestyle Libre. To export your Freestyle Libre data download the{% endblocktrans %} <a href="https://www.freestylelibre.nl/help/products/software.html">
                        Freestyle Libre software</a>, {% blocktrans %}plug-in your reader and go to "File -> Export". <b>Please note: processing the data can take a while.</b>{% endblocktrans %}</span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
            </div>
        </form>
    </div>
    <div class="row">
        <h2>{% trans 'Add Manual Glucose Measurements' %}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
            {% for field in form.visible_fields %}
                      <div class="form-group">
                        <label for='{{ field.id_for_label }}'>{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                          <span class="help-block">{{ error }}</span>
                        {% endfor %}
                      </div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span> Save
            </button>
            </div>
            </div>

        </form>
    </div>
    <div class="row">
        <form method="get">
            <div class="form-group">
                <label for="select_date">{% trans 'Geselecteerde datum' %}</label>
                <select onchange="this.form.submit()" name="select_date" class="form-control" id="id_select_date">
                    {% for date in date_list %}
                         <option {% ifequal selected_date date %} selected {% endifequal %}
                                 value="{{ date|date:'Y-m-d' }}">{{ date }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
            {% load static %}
            <script type="text/javascript" src='{% static "js/moment.min.js" %}'></script>
            <script src="{% static 'js/Chart.min.js' %}"></script>

        <canvas id="chartjs-0" class="chartjs" width="379" height="189" style="display: block; width: 379px; height: 189px;"></canvas>
        <script>
            var config = {
                "type":"line",
                "data": {
                    "datasets": [
                        {
                            "label":"{% trans 'Blood Glucose' %}",
                            "data":[
                                {% for glucose_value in glucose_values %}
                                    {% if forloop.last %}
                                        {
                                            x: "{{ glucose_value.datetime|date:'H:i' }}",
                                            y: {{ glucose_value.glucose_value|safe }}
                                        }
                                    {% else %}
                                        {
                                            x: "{{ glucose_value.datetime|date:'H:i' }}",
                                            y: {{ glucose_value.glucose_value|safe }}
                                        },
                                    {% endif %}
                                {% endfor %}],
                        "fill":false,
                        "borderColor":"rgb(51, 187, 255)",
                        "lineTension":0.1}]},
                "options":{
                    "legend": {"display": false},
                    "scales": {
                        xAxes: [{
                            type:   "time",
                            time:   {
                                parser: "LT"
                            },
                            scaleLabel: {
                                display: true,
                                labelString: "{% trans 'Time' %}"
                            }
                        }],
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: "{% trans 'Blood Glucose (mmol / L)' %}"
                            }
                        }]
                    }
                }
            };
            new Chart(document.getElementById("chartjs-0"), config);
        </script>
    </div>
</div>
{% endblock %}